@import "./../../../styles.scss";
.mainHeadings {
  border-bottom: 4px solid $primary;
}

.headingBox {
  min-width: 135px;
  max-width: 135px;
  text-align: center;
  padding-right: 10px;
  margin: auto;
}

.mx-width {
  max-width: 600px;
}
