<div class="d-flex b-l  mt-4 m-3 dBlockSm flex-row-reverse justify-content-between">
    <div class="headingBox pb-3 pt-2">
        <span class="heading-3 f-wr mainHeadings pb-2">
            WHAT WE DO
        </span>
    </div>
    <div class="b1 b-l dNoneSm" style="height: auto;">

    </div>
    <div class=" pt-3 m-2 m-sm-3  mx-width">
        <div>
            <span class="heading-3 f-wr ">
                With 3 decades of versatile industrial experience,
                we understand our clients well. So depending on
                specific industry requirements, we offer customised
                solutions that gives Competitive Edge to our clients
                in today’s challenging environment.

            </span>
        </div>
        <div>
            <div class="mt-3">
                <span class="heading-3 f-wr">
                    We offer a full range of Project, Operation & Maintenance Services from execution & commissioning
                    assistance, Process
                    stabilisation and TroubleShooting.


                </span>
            </div>

        </div>


    </div>
</div>
<div style="width:100%; height: 30x;" class="b-w">

</div>