<div class=" max-box-size  mt-4 m-3  justify-content-between">
    <div class="headingBox pb-3 pt-2">
        <span class="heading-3 f-wr mainHeadings pb-2">
            WHAT WE DO
        </span>
    </div>

    <div class="mx-auto my-2 text-center">
        <img src="assets/work.svg" class="img-block" alt="about ">
    </div>
    <div class=" pt-3 my-sm-3   mx-width p-3">
        <div>
            <span class="heading-3 ">
                With 3 decades of versatile industrial experience,
                we understand our clients well. So depending on
                specific industry requirements, we offer customised
                solutions that gives Competitive Edge to our clients
                in today’s challenging environment.

            </span>
        </div>
        <div class="mt-4">
            <span class="heading-3 ">
                We offer a full range of Project, Operation & Maintenance Services from execution & commissioning
                assistance, Process
                stabilisation and Troubleshooting.

            </span>
        </div>


    </div>
</div>
<div style="width:100%; height: 30x;" class="b-w">

</div>