<div class="m-sm-auto p-sm-4 m-lg-4 m-xl-4 m-2  block-spacing">

    <div class="  mb-3 mx-3 mt-0">


        <div class="contactUs p-2 ">
            <div class="text-center letter-space-3 mt-2">
                JOIN THE FAMILY &  INNOVATE WITH US

            </div>
            <div class="text-center mt-4 pt-3">
                <span class="contactUs_boder heading-2 f-wm ">
                    CAREERS</span>
            </div>
            <div class="mx-auto my-2 text-center">
                <img src="assets/career.svg" class="img-block" alt="about ">
            </div>
            <div class="contatus_main pt-4">
                <h3 class="heading-4 p-2 text-center">
                    If you’re excited to shape the innovations of tomorrow, we want to hear from you. You’ll join 100 people of the smartest
                    minds all working together to build a better future.

                </h3>
                <h3 class="heading-4 p-2 text-center">
                 We are looking for ambitious and self-driven individuals to help us grow.
                </h3>
     

     

                <div class="text-center dBlockSm p-4">
                    <div class="pt-4">
                        <a target="_blank" [href]="mailToLink"
                            class="btn-sr m-4 b-p">
                            APPLY THROUGH EMAIL
                        </a>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>