<div class="container container-m  m-auto">
    <div class="m-sm-auto p-sm-4 m-lg-4 m-xl-4 m-2 mt-4   block-spacing b-l div-box-shadow box-border-radius">
        <div class="headingBox pb-3 pt-2">
            <span class="heading-3 f-wr mainHeadings text-center pb-2">
                Mission & Values
            </span>
        </div>

        <div class="mx-auto my-2 text-center">
            <img src="assets/services.svg" class="img-block" alt="about ">
        </div>

        <div class="my-4">
            <h4 class="heading-3 f-wr text-center mainHeadings  pb-2 max-w-200">
                Mission
            </h4>
            <p class=" heading-2 f-wb missionTxt">
                "To offer World Class Consulting services to our clients to save time, improve operational efficiency at
                reduced
                cost"
            </p>
        </div>
        <div class="my-4">
            <h4 class="heading-3 f-wr text-center mainHeadings  pb-2 max-w-200">
                Values
            </h4>
            <div class="max-w-200">
                <app-list [lists]="values" [type]=" 'bullet' " class="pl-1 pt-1 m-auto ">
                </app-list>
            </div>
        </div>
    </div>
</div>