<div class="container container-m  m-auto">
  <div class="m-sm-auto p-sm-4 m-lg-4 m-xl-4 m-2 mt-4   block-spacing b-l div-box-shadow box-border-radius" #Home>
    <div class="d-flex home_banner justify-content-between ">
      <div class=" ml-4 ml-sm-1 p-3">

        <section class="heading-1 main_heading mb-4">
          Apskon Engineering
          and Consulting

        </section>
        <section>
          Apskon is a group of highly skilled engineering professionals with Three
          decades of versatile industrial experience in Projects and O&amp;M of major
          manufacturing and process Industry.
        </section>
        <app-list [lists]="borderBulletList" [type]=" 'border' " class="my-3">
        </app-list>
      </div>

      <div class="m-auto">
        <img src="assets/achievement.svg" alt="achievement " class="home_achiever" class="imgEngineer" />
      </div>
    </div>

 <div class="mt-3 mb-5 text-center ">
      <h3 class="heading-3  mb-4 "> OUR <span class="tc-p " [routerLink]="['services']"> SERVICES </span> ARE<span class="tc-s f-wm"> PAN</span> INDIA BASIS</h3>
    </div>
  </div>

  <div class="floating-button">
    <button class="btn-r b-s" (click)="navigateTo('Home')">
      <fa-icon [icon]="upIcon"></fa-icon>
    </button>
  </div>
