@import "../../../styles.scss";

.circle {
  width: 20px;
  height: 20px;
  background: black;
  border: none;
  border-radius: 10px;
  float: left;
  position: relative;
  left: -21px;
  background: $primary;
}

.list__number {
  border-left: none;
}
.list__bullet {
  border-left: none;
  padding: 0px;
  .circle {
    width: 12px;
    height: 12px;
    background: black;
    border: none;
    border-radius: 10px;
    float: left;
    position: relative;
    left: -10px;
    background: #1639f7;
    top: 5px;
  }
}
.list__border {
  border-left: 3px solid black;
  padding: 0px;
}

li {
  list-style: none;
  padding: 10px;
}
