<div class="m-sm-auto p-sm-4 m-lg-4 m-xl-4 m-2  block-spacing" #ContatUs>
    <div class=" mt-4 m-3 ">
        <div class="contactUs p-2">
            <div class="text-center mt-4 pt-3">
                <span class="contactUs_boder heading-3 f-wm ">
                    REACH US</span>
            </div>
            <div class="mx-auto my-2 text-center">
                <img src="assets/contact.svg" class="img-block" alt="about ">
            </div>
            <div class="contatus_main pt-4">
                <h3 class="heading-4 p-2">
                    CONTACT US for more info about our services.
                </h3>
                <!-- <div class="heading-3 f-wm contactUs__menu_border ">
                SK GUPTA
            </div> -->

                <div class="contactus_border d-flex dBlockSm mt-2 contactUs__menu_border">
                    <div class="heading-4  w-30px">
                        PHONE
                    </div>

                    <div>
                        :
                        <a target="_blank" href="tel:8144943206" class="tc-p">+91 8144943206</a>
                    </div>
                </div>

                <div class="contactus_border  d-flex dBlockSm mt-2 contactUs__menu_border">
                    <div class="heading-4 w-30px">
                        EMAIL
                    </div>

                    <div>
                        :
                        <a target="_blank" href="mailTo:apskonecs@gmail.com?subject=&body=Hi,"
                            class="tc-p">apskonecs@gmail.com</a>
                    </div>
                </div>
                <div class="contactus_border  d-flex dBlockSm mt-2 contactUs__menu_border">
                    <div class="heading-4 w-30px">
                        WEBSITE
                    </div>

                    <div>
                        :
                        <a target="_blank" href="https://apskon.com/" class="tc-p">www.apskon.com</a>
                    </div>
                </div>


                <div class="contactus_border d-flex dBlockSm  mt-2 contactUs__menu_border">
                    <div class="heading-4  w-30px">
                        ADDRESS
                    </div>

                    <div>
                        <div class="heading-4 f-wm ">
                            : Mahagun Lane,
                        </div>
                        <div class="heading-4 f-wm pl-1" class="heading-4 f-wm pl-1">
                            Sector 78, Noida – 201301,
                        </div>
                        <div class="heading-4 f-wm pl-1">
                            Uttar Pradesh, India
                        </div>

                    </div>
                    <div>

                    </div>
                </div>


                <div class="d-flex dBlockSm p-4">
                    <div class="pt-4">

                        <a target="_blank" href="mailTo:apskonecs@gmail.com?subject=&body=Hi%20Rahul,"
                            class="btn-sr m-4 b-p">
                            EMAIL US
                        </a>
                    </div>
                    <div class="pt-4 mt-">

                        <a target="_blank" target="_blank" href="tel:8144943206" class="btn-sr m-4 b-p ">
                            CALL US
                        </a>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>