@import "../../../styles.scss";

.contactUs_boder {
  border-bottom: 3px solid $primary;
}

.w-30px {
  width: 70px;
}

.contactUs {
  max-width: 450px;
  margin: auto;
  background: white;
  border-radius: 20px;
  border: 1px solid $primary;
}

.contactUs__menu_border {
  border-bottom: 2px solid $primary;
  padding: 10px;
}
